*.so
*.o
*.la
*.lai
*.slo
*.lo
*.t
.libs/*
src/.libs/*
t/htdocs/index.html
t/conf/modules.conf
/Makefile
/Makefile.in
/aclocal.m4
/build/apxs-wrapper
/config.log
/config.status
/configure
/install-sh
/missing
/tests/regression/server_root/conf/httpd.conf
/tests/run-regression-tests.pl
